* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jua', sans-serif;
    font-size: 16px;
    vertical-align: baseline;
    list-style: none;
}

.ir{
	position: absolute;
    clip-path: inset(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.hide {
    display: none;
}

body {
    background: url(../images/off-background.png) no-repeat;
}

#app {
    width: 1714px;
    height: 986px;
    display: flex;
    margin: 30px 105px;
    position: relative;
}

#app .logo-app {
    display: inline-block;
    position: absolute;
    width: 410px;
}

#app .logo-app img {
    width: 100%;
}

#app .laptop-cont {
    width : 745px;
}

#app .desktop-cont {
    width: 1020px;
    float: left;
}

/* 랩탑 */

/* 랩탑 section 공통스타일 */
.laptop-cont section {
    width: 561px;
    height: 347px;
    position: absolute;
    bottom: 91px;
    left: 33px;
    border-radius: 10px;   
}

.laptop-lock {
    z-index: 1;
    text-align: center;
    background-color: #111;
    color: #fff;
}

.img-char {
    position: absolute;
    top: 303px;
    left: 20px;
}

/* 탑바 공통 스타일 */
.laptop-unlock .topBar,
.desktop-unlock .topBar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #323233;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topBar .topBar-item {
    margin-left: 10px;
    width: 15px;
    height: 15px;
    background-color: #ff5f57;
    border-radius: 50%;
}

.topBar .topBar-item:nth-child(2) {
    background-color: #febc39;
}

.topBar .topBar-item:last-child {
    background-color: #29c840;
}

.laptop-cont .laptop-lock .date {
    padding-top: 50px;
}

.laptop-cont .laptop-lock time {
    font-size: 60px;
}

.laptop-unlock {
    background-color: #fffef7;
}

.laptop-unlock .plan-tit {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 9px;
    margin-bottom: 16px;
}

.laptop-unlock ul {
    font-size: 45px;
    position: absolute;
    width: 230px;
    padding: 10px;
}

.laptop-unlock ul li {
    font-weight:lighter;
}

.laptop-unlock .sticky-day1 {
    top: 25%;
    left: 5%;
    background-color: #fef59c;
    border-top: 10px solid #faeb68;
}

.laptop-unlock .sticky-day2 {
    top: 35%;
    right: 6%;
    background-color: #ffc7c7;
    border-top: 10px solid #f3b7b4;
}

/* 데스크탑 */

/* 데탑 section 공통스타일 */
.desktop-cont section {
    width: 990px;
    height: 558px;
    position: absolute;
    top: 133px;
    right: 28px;
    border-radius: 10px;
}

.desktop-lock {
    text-align: center;
    z-index: 1;
    background-color: #111;
    color: #fff;
    margin-right: 16px;

}

.desktop-lock h3 {
    font-size: 50px;
    margin-top: 90px;
}

.desktop-lock .img-lock1 {
    position: absolute;
    left: 50px;
    bottom: 60px;
}

.desktop-lock .img-lock2 {
    position: absolute;
    right: 65px;
    bottom: 57px;
}

.desktop-cont .desktop-unlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f3f4;
    margin-right: 16px;
}

.desktop-cont .desktop-unlock h3 {
    margin-left: 30px;
    padding-top: 12px;
    font-size: 20px;
}

#map {
    margin-top: 15px;
    width: 990px;
    height: 100%;
    background-color: #fffef7;
}

.startBtn {
    width: 250px;
    height: 100px;
    border-radius: 50px;
    font-size: 50px;
    position: absolute;
    bottom: 113px;
    left: 370px;
    background-color: #f6b560;
}