.ir{
	position: absolute;
    clip-path: inset(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.hide {
    display: none;
}

body {
    width: 1920px;
    height: 980px;
}

#app {
    display: flex;
    align-items: flex-end;
    margin: 50px 105px;
}

#app .laptop {
    width : 900px;
    height: 100vh;
    background-color: antiquewhite;
}

#app .desktop {
    width: 1020px;
    height: 100vh;
    float: left;
    background-color: lightblue;
}

/* 랩탑 */
.랩탑잠금화면 {
    width: 531px;
    height: 335px;
    text-align: center;
    background-color: coral;
}

.laptop .랩탑잠금화면 .date {
    padding-top: 50px;
}

.laptop .랩탑메인화면 {
    width: 531px;
    height: 335px;
    background-color: lightgreen;
}

.laptop .랩탑메인화면 .plan-cont {
   display: flex;
   justify-content: center;
   align-items: center;
}

.laptop .랩탑메인화면 .day1 {
    float: left;
}

/* 데스크탑 */

.데스크탑시작화면 {
    width: 990px;
    height: 558px;
    background-color: coral;
}

.데스크탑시작화면 .view {
    text-align: center;
}

/* 테스트를 위해 임시 지정 */
.데스크탑시작화면 img {
    align-items: center;
    width: 320px;
    height: 320px;
}

.desktop .데스크탑메인화면 {
    margin-top: 10px;
    width: 990px;
    height: 558px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgreen;
}

.desktop .데스크탑메인화면 .topBar {
    width: 100%;
    height: 30px;
    background-color: #333;
}

#map {
    width: 990px;
    height: 100%;
    background-color: aqua;
}